 
/* CSS Document */
html {
    height: 100%;
    margin: 0;
    padding: 0; }

body {
    height: 96%;
    font: 95% arial;
    color: #222;
    background: #FEFFF4;
    text-align: center;
    margin: 0;
    padding: 0; }

form, p, span {
    margin: 0;
    padding: 0; }

input {
    background: #FEFFF4;
    font: 110% arial; }

input[type=submit] {
    font-size: 100%;
}

a {
    color: #0000FF;
    text-decoration: none; }

a:hover { text-decoration: underline; }

#wrapper, #loginform {
    margin: 2% auto;
    background: #CCF1B6;
    width: 95%;
    height: 95%;
    border: 1px #C7C7C7 solid; }

#loginform { padding-top: 18px; width: 50%; height: auto; padding-top: 1.5em; padding-bottom: 2.5em; }

#loginform p { margin: 5px; }

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0.5em 1ex 0.1em;
    background: #FEFFF4;
    height: 75%;
    width: 90%;
    border: 1px solid #C7C7C7;
    overflow: auto; }

#usermsg {
    width: 85%;
    padding: 0.5ex;
    border: 1px solid #C7C7C7; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding: 12.5px 25px 12.5px 25px; }

.welcome { float: left; }

.logout { float: right; }

.msgln { margin:0 0 2px 0; }
